//- views/index.jade
html
	head
		title 톡터디 앱 다운로드 페이지
	body
		h2 톡터디 앱 다운로드 페이지
		br
		a(href='/download/ios.app' download='ios.app') iOS 앱 다운로드
		br
		br
		a(href='/download/talktudy-debug.apk' download='talktudy.apk') Android 앱 다운로드
		br
		br
		a(href='http://lunar-pic.com:6500/download') http://lunar-pic.com:6500/download