//- views/index.jade
html
	head
		title 톡터디 앱 다운로드 페이지
	body
		h2 톡터디 앱 다운로드 페이지
		br
		a(href='itms-services://?action=download-manifest&url=https://googledrive.com/host/0B5n3__u6lB96QldFNF9tcml3a0k/talktudy.plist') iOS 앱 다운로드
		br
		br
		a(href='/download/android-debug.apk' download='talktudy.apk') Android 앱 다운로드
		br
		br
		a(href='http://lunar-pic.com:6500/download') http://lunar-pic.com:6500/download